body {
   font-family: Helvetica, sans-serif;
   }

nav {
  /*background: #e6a522;*/
  /*background: #141E30;*/
  background: #323232;
  padding: 3px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding-right: 1em;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #f6a21d;
}

nav ul li a:hover {
  color: #fff;
  font-size: 20px;
  transition: 0.5s font-size linear;
  /*color: #f89406;*/
}

main{
  display: grid;
  grid-template-areas: "head"
  "about"
  "publications"
  "contact";
  grid-template-rows: 4;
  }

.banner-title{
  /*background: #141E30;*/
  background-image: url("media/celtas.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.about, .contact {
  /*background: #e0dfd2;*/
  background: #e6e5df;
}

/*.contact {
  background: #e6e5df;
}

.publications {

}*/

h1 {
  color: #000;
  font-size: 28px;
  padding: 10px;
}

h1:hover {
  font-size: 30px;
  font-weight: bolder;
  transition: 1s font-size linear;
}

h2 {
  /*color: #AA0000;*/
  color: #d43900;
  padding: 10px;
  line-height: normal;
  font-size: 24px;
}

h3, h4 {
  color: #d43900;
  padding: 10px;
  line-height: normal;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  color: #000000;
  font-size: 18px;
  line-height: 1.4;
  padding: 10px;
}

button {
  border: 2px solid #f6a21d;
  background: #f6a21d;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 0px 20px 10px;
  }

button a {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

button a:hover {
  color: #fff; 
}

form {
  font-family: Helvetica, sans-serif;
  }

label {
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.4;
}

input {
  border: 2px solid #d4d0ab;
  background: #fff;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.4;
  margin: 5px 5px 5px 10px;
}

#submit {
  border: 1px solid #141E30;
  color: #f6a21d;
  background: #323232;
  font-weight: bold;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.4;
  margin: 20px 20px 20px 10px;
}

#submit a {
  text-decoration: none;
}

#submit a:hover {
  color: #fff; 
}

  footer {
    /*background: #e6a522;*/
    background: #323232;
    padding: 10px;
  }

  footer ul {
    display: flex;
    list-style-type: none;
  }

  footer ul li {
    padding-right: 40px;
  }
  
  footer ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #f6a21d;
  }
  
  footer ul li a:hover {
    color: #fff;
    /*color: #f89406;*/
  }

  @media screen and (max-width: 416px) {
    nav ul {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 416px) {

    footer ul {
      flex-direction: column;
    }
  }